/* font-family: 'Open Sans', sans-serif; */
/* header color: #404042 */
/* light grey background color: #f5f6f8 */
/* dark grey background color #d1d2d4 */
/* darker grey buttons: #606060 */
/* lighter grey buttons #d1d2d4 */
/* pink #ec458b */

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

header {
    height: 70px;
    background: #404042;
    color: white;
}

#game{
    background-color: #f5f6f8;
    padding: 5%;
}

#results {
    background-color: #d1d2d4;
    padding-top:20px;

}

section {
    background-color: white;
}

#section-a {
    height: 250px;
    width: 100%;
    position: relative;
}

#section-b {
    height: 600px;
    width: 100%;
}

#section-c {
    height: 400px;
    width: 100%;
}

#section-d{
    height: 200px;
    width: 100%;
    margin-top:20px;
}

#section-e {
    height: 200px;
    width: 100%;
}

.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
  
.subtitle:after, .subtitle:before {
    content: '';
    width: 8%;
    height: 1px;
    background: white;
    margin: 0 10px;
  }

form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
    color: #606060;
    font-family: "Open Sans", sans-serif;
    padding: 10px 0 0 10px;
}   

input{
    height: 30px;
    width:90%;
    margin: auto;
}

h1{
    margin: 0;
    color: #ec458b;
    text-align: center;
    padding: 5px;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
}

h2{
    font-size: 16px;
    color:#606060;
    padding: 10px 0 0 10px;
}

h5{
    text-align: center;
    font-size: 12px;
    margin: 0;
}

p {
    font-size: 16px;
    color: #606060;
    padding: 10px 0 0 10px;
}

button{
    border-radius: 30px;
    height: 30px;
    width: 90%; 
    margin:10px auto;           
    background-color:#d1d2d4;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.update-button{
    width: 30%;
    margin: 10px 0;
    max-width: 100px;
}

.top-button{
    background-color: #606060;
}


/* Section C ::Scorecard */ 

body {
  font-family: Verdana, Geneva, sans-serif

}

#scorebox {
  height:650px;
  width:100%;
  border: 1px gray solid;
}

#score-header {
  margin:12px 0 0 12px;
  font-weight:bold;
  font-size:23px;
}


.flexbox {
  display:flex;
  flex-direction: column;
}



.container {
  height:285px;
  width:100%;
  margin:0;
}





.score-box {
  margin:20px auto;
  text-align:center;
}

.score-box p {
  margin:0;
}





.player {
  font-weight: bold; 
  font-size: 20px;
}

.text {
  font-size:22px;
  font-weight:100;
}

.guessNum {
  font-size: 115px;
  color:#dd1972;
  font-weight:bold;
}


.border {
  background-color:black;
  position:relative;
  height:1px;
  width:80%;
  margin:0 auto;

}

/*Section D: Challenger Card*/

#win-card{
  padding:5px 10px;
  width:85%;
  height: 275px;
  border: 2px #6e6e6e solid;
  margin:20px auto;
}

#matchup-box {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.sub-player {
  margin:0;
  font-weight: 700
}

#versus {
  margin:5px 0;
  font-size:12px;
  font-weight:300;
}

#victory-box {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.super-player {
  font-size:24px;
  margin:0;
  font-weight: 700;
}

#winner {
  margin:1px 0 25px 0;
  font-size:22px;
  font-weight: 300;
}

#footer {
  display:flex;
  justify-content:space-between
}

.cborder {
  background:black;
  height:1px;
  width:95%;
  margin:11px auto;
}