/* font-family: 'Open Sans', sans-serif; */
/* header color: #404042 */
/* light grey background color: #f5f6f8 */
/* dark grey background color #d1d2d4 */
/* darker grey buttons: #606060 */
/* lighter grey buttons #d1d2d4 */
/* pink #ec458b */

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

header {
    height: 60px;
    background: #404042;
    color: white;
}

#game{
    background-color: #f5f6f8;
    padding: 5%;
}

#results {
    background-color: #d1d2d4;
    padding: 5%;
}

button {
    background-color: #606060;
    height: 10px;
    width: 30px;
}

section {
    background-color: white;
}

#section-a {
    height: 150px;
    width: 100%;
}

#section-b {
    height: 350px;
    width: 100%;
}

#section-c {
    height: 400px;
    width: 100%;
}

#section-d{
    height: 200px;
    width: 100%;
    margin-top:20px;
}

#section-e {
    height: 200px;
    width: 100%;
}

.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
  
.subtitle:after, .subtitle:before {
    content: '';
    width: 8%;
    height: 1px;
    background: white;
    margin: 0 10px;
  }

form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    font-size: 10px;
}   

h1{
    margin: 0;
    color: #ec458b;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
}

h2{
    font-size: 10px;
    color:#606060;
}

h5{
    text-align: center;
    font-size: 6px;
    margin: 0;
}

p {
    font-size: 8px;
}

button{
    height: 30px;
    width: 90%; 
    margin:10px auto;
    border-radius: 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}